html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "SolomonSansSemiBold", sans-serif;
  color: #000;
  background: #fff;
  height: 100%;
}

h1, h2, h3, h4, h5, h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
* {
  outline: none;
}

@font-face {
  font-family: 'SolomonSansNormal';
  src: url('../fonts/Solomon Sans Normal.otf') format('truetype');
}
@font-face {
  font-family: 'SolomonSansSemiBold';
  src: url('../fonts/Solomon Sans SemiBold.otf') format('truetype');
}
