.mail-btn {
  display: flex;
  max-width: 240px;
  width: 100%;
  justify-content: center;
  padding: 23px 0 20px;
  background: #FF0034;
  color: #ffffff;
  font-size: 18px;
  line-height: 19px;
  box-shadow: 0 3px 10px 0 rgba(255,0,52,0.08), 0 10px 20px 0 rgba(255,0,52,0.27);
}
