.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1320px;
  padding: 40px 30px 23px;
  margin: auto;
  &-lang {
    font-family: "SolomonSansNormal", sans-serif;
    position: absolute;
    right: 30px;
    cursor: pointer;
    display: block;
    &.router-link-active {
      display: none;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("./../../assets/img/floor.svg") no-repeat top/cover;
    padding: 130px 0 55px;
    margin-bottom: 34px;
    position: relative;
    &:before, &:after {
      content: '';
      position: absolute;
      z-index: 1;
    }
    &:before {
      top: 10%;
      left: 50px;
      width: 90px;
      height: 137px;
      background: url("./../../assets/img/coube2.svg") no-repeat center;
    }
    &:after {
      top: 30%;
      right: 60px;
      width: 166px;
      height: 343px;
      background: url("./../../assets/img/coube1.svg") no-repeat center;
    }
    &--text {
      z-index: 2;
      text-align: center;
      font-size: 52px;
      max-width: 1040px;
      margin: 0 auto 80px;
      padding: 0 30px;
      @media screen and (max-width: 1024px){
        font-size: 46px;
      }
      @media screen and (max-width: 500px){
        font-size: 30px;
        margin-bottom: 50px;
        padding: 0 16px;
      }
    }
    &--action {
      margin-bottom: 80px;
      z-index: 2;
      @media screen and (max-width: 500px){
        margin-bottom: 50px;
      }
    }
    &--social {
      display: flex;
      align-items: center;
      justify-content: space-around;
      a {
        display: block;
        line-height: 0;
        margin: auto 20px;
      }
    }
    @media screen and (max-width: 1024px) {
      &:after {
        right: 20px;
      }
    }
    @media screen and (max-width: 600px){
      padding-top: 30px;
      &:before, &:after {
        display: none;
      }
    }
  }
  @media screen and (max-width: 450px) {
    flex-direction: column;
    padding: 20px 16px 30px;
    .header-lang {
      position: relative;
      right: initial;
      margin-top: 18px;
    }
  }
}
